body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Chivo', sans-serif;
}

/* Header */
#withlogo {
  margin-left: 3.5%;
  margin-right: 3.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px; 
}

#insuranceCF {
  width: 20%;
  height: 20%;
}

header {
  background-color: #FFF3F3;
  margin: 0 auto;
}

/* Navigation Bar */
nav {
  background-color: #8E1616;
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;
  display: inline-block;
  display: flex;
  line-height: 2em; 
  margin-bottom: 0;
}

li {
  padding: 0 5px;
  color: white;
  font-size: 150%;
}

nav li a {
    text-decoration: none;
  }

a {
  text-decoration: none;
  color: white;
}

/* Calculation window */
#traffic{
 background-color: #CECECE;
}

#positioning{
  position: relative;
}

#light{
  width: 100%;
  margin:  0 auto;
  height: auto;
  z-index: 2;
}

#schweden{
  position: absolute;
  bottom: 87%;
  left: 4.5%;
  color: white;
  font-size: 150%;
}

/* Calculation Area */
#greyarea{
  height: 85%;
  width: 80%;
  background-color: #CECECE;
  position: absolute;
  right: 10%;
  top:  20%;
  left: 10%;
  border: 1px solid grey;
  opacity: .8;
}


#calculate{
  text-align: center;
}

#calculateButton{
  color: white;
  background-color: #339235;
    border-radius: 25px;
    width: 25%;
    padding: 2%;
}

#boxcontent{
  flex-wrap: wrap;
justify-content: space-between;

}

#contentrow1{
column-count: 2;
justify-content: space-around;
display: flex;
}

#contentrow2{
  margin-top: 5%; 
  column-count: 2;
justify-content: space-around;
display: flex;
}

select {
width: 204px;
height: 42px;
}

input {
width: 200px;
height: 36px;
}

#result{
  color: #339235;
}

/* Grey Box under Calculation */
#greyboxtext{
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 1.4%;
  font-size: 100%;
  font-family: Palatino, serif;
  background-color: #CECECE;
}

#toprow{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 140%;
}
/* Information Boxes */
#Boxarea {
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-family: arial;
  color: grey;
  column-count: 2;
}

.Boxes {
  width: 27%;
  border: 2px solid lightgrey;
  padding: 3%;
  box-shadow: 1px 1px 1px #ccc, -1px 1px 1px #ccc;
  border-top: 3px solid #171717
}

p {
margin-bottom: 0;
margin-top: 1%;
}

.H3 {
  font-size: 150%;
  color: #5992C1
}

.Boxtext {
  margin-left: 7%;
  margin-bottom: 5% ;
}

.P3 {
  color: black;
}

/* Footer */
#footer {
  background-color: black;
  width: 100%;
  margin-top: 5%;
}

#nav1 {
  background-color:  black;
}

#logo5 {
  margin-right: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: right; 
}
.mobilehide2{
  width: 25%;
  margin-right: 3%;
}
.name {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 770px){
  .container{
    width: 100%;
    margin:  0 auto;
  }
  select {
    width: 184px;
    height: 26px;
    }
  input {
    width: 180px;
    height: 20px;
    }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 90%;
  }
  .mobilehide{
    width: 50%;
  }
  .mobilehide2{
    width: 30%;
    margin-right: 3%;
  }
}
